
#countdown-container {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 120px;
    color: #333;
    background-color: #ffe5b4;
    margin-top: 50px;
    
}

#countdown {
    display: inline-block;
    background-color: #ffe5b4;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.p{
  text-align: center;
  font-size: 120px;
}